/*  your css code here. If applicable */


/* 	font-size:20px; */
/* 	font-weight: bold; */
	
div::before{
	color:red;
	content:"Before Element";
}

div::after{
	color:red;
	content:"After Element";
}